# NYC traffic accidents over a 4 year period 
## Filter and Subset

Download <a href="https://www.dropbox.com/s/585wrgl08djzlyt/accidents-nyc.csv?dl=0">this dataset</a> stored on dropbox.

In [1]:
## import necessary libraries
import pandas as pd

In [48]:
## read the dataset into notebook
df_nyc_accidents = pd.read_csv('accidents-nyc.csv')
df_nyc_accidents

,CRASH DATE,CRASH TIME,BOROUGH,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2
0,4/13/21,21:35,BROOKLYN,1,0,1,0,0,0,0,0,Unspecified,NaN,4407147,Sedan,NaN
1,4/13/21,16:00,BROOKLYN,0,0,0,0,0,0,0,0,Following Too Closely,Unspecified,4407811,Sedan,NaN
2,4/13/21,17:30,QUEENS,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,4408019,Sedan,Sedan
3,4/11/21,21:06,BROOKLYN,1,0,1,0,0,0,0,0,Passing Too Closely,NaN,4406488,Taxi,NaN
4,4/15/21,20:00,STATEN ISLAND,0,0,0,0,0,0,0,0,Unspecified,NaN,4408310,Sedan,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
282868,1/1/19,19:00,BROOKLYN,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,4060606,Ambulance,Sedan
282869,1/1/19,8:00,BRONX,0,0,0,0,0,0,0,0,Steering Failure,Unspecified,4060771,Pick-up Truck,Station Wagon/Sport Utility Vehicle
282870,1/1/19,3:30,BRONX,0,0,0,0,0,0,0,0,Unspecified,Unspecified,4060653,Pick-up Truck,Sedan
282871,1/1/19,19:30,BROOKLYN,0,0,0,0,0,0,0,0,Passing Too Closely,Unspecified,4268108,Tanker,Sedan
282872,1/1/19,12:00,MANHATTAN,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,4060666,Sedan,NaN

In [49]:
## see the overall info about this dataset
df_nyc_accidents.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 282873 entries, 0 to 282872
Data columns (total 16 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   CRASH DATE                     282873 non-null  object
 1   CRASH TIME                     282873 non-null  object
 2   BOROUGH                        282873 non-null  object
 3   NUMBER OF PERSONS INJURED      282873 non-null  int64
 4   NUMBER OF PERSONS KILLED       282873 non-null  int64
 5   NUMBER OF PEDESTRIANS INJURED  282873 non-null  int64
 6   NUMBER OF PEDESTRIANS KILLED   282873 non-null  int64
 7   NUMBER OF CYCLIST INJURED      282873 non-null  int64
 8   NUMBER OF CYCLIST KILLED       282873 non-null  int64
 9   NUMBER OF MOTORIST INJURED     282873 non-null  int64
 10  NUMBER OF MOTORIST KILLED      282873 non-null  int64
 11  CONTRIBUTING FACTOR VEHICLE 1  281489 non-null  object
 12  CONTRIBUTING FACTOR VEHICLE 2  224591 non-null  object
 13  COLLISION_ID                   282873 non-null  int64
 14  VEHICLE TYPE CODE 1            279986 non-null  object
 15  VEHICLE TYPE CODE 2            201168 non-null  object
dtypes: int64(9), object(7)
memory usage: 34.5+ MB

In [63]:
## create a series of crash dates.
## df.column_name/ df['columnName'] also returns the Pandas Series 
df_nyc_accidents["CRASH DATE"]

0         4/13/21
1         4/13/21
2         4/13/21
3         4/11/21
4         4/15/21
           ...
282868     1/1/19
282869     1/1/19
282870     1/1/19
282871     1/1/19
282872     1/1/19
Name: CRASH DATE, Length: 282873, dtype: object

In [73]:
## Which borough had the most crashes?
##boro_sort = df_nyc_accidents.sort_values(by=["BOROUGH","CRASH DATE"], ascending=False)

df_nyc_accidents["BOROUGH"].head()

0         BROOKLYN
1         BROOKLYN
2           QUEENS
3         BROOKLYN
4    STATEN ISLAND
Name: BOROUGH, dtype: object

In [81]:
## which type of vehicle was primary vehicle involved in crashes?
## SHOW ONLY THE TOP 7

df_nyc_accidents["VEHICLE TYPE CODE 1"].head(7)

##df_vehicle = df_nyc_accidents[df_nyc_accidents["City"] == "Sochi"].sample(20)

0                                  Sedan
1                                  Sedan
2                                  Sedan
3                                   Taxi
4                                  Sedan
5                                   ï¿½MBU
6    Station Wagon/Sport Utility Vehicle
Name: VEHICLE TYPE CODE 1, dtype: object

In [83]:
## What were a FIVE unusual primary vehicles to get into a crash?
df_nyc_accidents["CONTRIBUTING FACTOR VEHICLE 1"].head(6)

0                       Unspecified
1             Following Too Closely
2    Driver Inattention/Distraction
3               Passing Too Closely
4                       Unspecified
5    Passing or Lane Usage Improper
Name: CONTRIBUTING FACTOR VEHICLE 1, dtype: object

In [89]:
## create a subset of data for only Queens
## place it in a dataframe called df_q
df_q = df_nyc_accidents[df_nyc_accidents["BOROUGH"] == "QUEENS"]
df_q

,CRASH DATE,CRASH TIME,BOROUGH,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2
2,4/13/21,17:30,QUEENS,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,4408019,Sedan,Sedan
10,4/14/21,21:43,QUEENS,0,0,0,0,0,0,0,0,Turning Improperly,Unspecified,4407407,Station Wagon/Sport Utility Vehicle,NaN
17,4/15/21,14:30,QUEENS,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Driver Inattention/Distraction,4407616,Sedan,Station Wagon/Sport Utility Vehicle
27,4/16/21,11:00,QUEENS,1,0,0,0,1,0,0,0,Turning Improperly,Unspecified,4407792,Station Wagon/Sport Utility Vehicle,Bike
28,4/16/21,17:00,QUEENS,5,0,0,0,0,0,5,0,Traffic Control Disregarded,Unspecified,4407853,Sedan,Station Wagon/Sport Utility Vehicle
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
282861,1/1/19,11:00,QUEENS,0,0,0,0,0,0,0,0,Unspecified,NaN,4065827,Sedan,NaN
282862,1/1/19,12:30,QUEENS,0,0,0,0,0,0,0,0,Unspecified,NaN,4062343,Sedan,NaN
282863,1/1/19,2:18,QUEENS,0,0,0,0,0,0,0,0,Unspecified,Unspecified,4060413,Sedan,NaN
282864,1/1/19,13:00,QUEENS,0,0,0,0,0,0,0,0,Unspecified,Unspecified,4060511,Sedan,Sedan
282866,1/1/19,10:23,QUEENS,1,0,0,0,0,0,1,0,Failure to Keep Right,Failure to Keep Right,4059208,Station Wagon/Sport Utility Vehicle,Sedan

In [158]:
## CHALLENGE (as in you have to google this)
## How many people were killed in Queens in accidents?
fil_boro = df_nyc_accidents["BOROUGH"] == "QUEENS"
fil_killed = df_nyc_accidents["NUMBER OF PERSONS KILLED"] 

df_challenge = df_nyc_accidents[fil_boro & fil_killed].sum
df_challenge

<bound method NDFrame._add_numeric_operations.<locals>.sum of        CRASH DATE CRASH TIME BOROUGH  NUMBER OF PERSONS INJURED  \
1316      4/21/21       0:55  QUEENS                          3
3654       5/3/21      23:10  QUEENS                          0
4691      7/18/21       2:39  QUEENS                          0
8073      5/23/21      15:21  QUEENS                          0
8710      5/24/21       6:45  QUEENS                          0
...           ...        ...     ...                        ...
272422    1/10/19      18:18  QUEENS                          0
274610    1/15/19      15:55  QUEENS                          0
275081    1/19/19      11:00  QUEENS                          0
278852    1/11/19      15:09  QUEENS                          0
280758    1/25/19      11:00  QUEENS                          0

        NUMBER OF PERSONS KILLED  NUMBER OF PEDESTRIANS INJURED  \
1316                           1                              0
3654                           1                              0
4691                           1                              0
8073                           1                              0
8710                           1                              0
...                          ...                            ...
272422                         1                              0
274610                         1                              0
275081                         1                              0
278852                         1                              0
280758                         1                              0

        NUMBER OF PEDESTRIANS KILLED  NUMBER OF CYCLIST INJURED  \
1316                               0                          0
3654                               0                          0
4691                               1                          0
8073                               1                          0
8710                               0                          0
...                              ...                        ...
272422                             1                          0
274610                             1                          0
275081                             0                          0
278852                             1                          0
280758                             0                          0

        NUMBER OF CYCLIST KILLED  NUMBER OF MOTORIST INJURED  \
1316                           0                           3
3654                           0                           0
4691                           0                           0
8073                           0                           0
8710                           1                           0
...                          ...                         ...
272422                         0                           0
274610                         0                           0
275081                         0                           0
278852                         0                           0
280758                         0                           0

        NUMBER OF MOTORIST KILLED  CONTRIBUTING FACTOR VEHICLE 1  \
1316                            1            Alcohol Involvement
3654                            1                   Unsafe Speed
4691                            0                    Unspecified
8073                            0                    Unspecified
8710                            0  Failure to Yield Right-of-Way
...                           ...                            ...
272422                          0                    Unspecified
274610                          0  Failure to Yield Right-of-Way
275081                          1             Lost Consciousness
278852                          0                    Unspecified
280758                          1    Traffic Control Disregarded

       CONTRIBUTING FACTOR VEHICLE 2  COLLISION_ID  \
1316                     Unspecified       4409176
3654                     Unspecified       4413273
4691                             NaN       4438609
8073                             NaN       4419568
8710                     Unspecified       4420981
...                              ...           ...
272422                           NaN       4064908
274610                           NaN       4057104
275081                   Unspecified       4058602
278852                           NaN       4066754
280758                   Unspecified       4068862

                        VEHICLE TYPE CODE 1 VEHICLE TYPE CODE 2
1316                                  Sedan       Pick-up Truck
3654    Station Wagon/Sport Utility Vehicle               Sedan
4691                                   Taxi                 NaN
8073    Station Wagon/Sport Utility Vehicle                 NaN
8710                          Pick-up Truck              E-Bike
...                                     ...                 ...
272422                                Sedan                 NaN
274610  Station Wagon/Sport Utility Vehicle                 NaN
275081                          Convertible                USPS
278852                                Sedan                 NaN
280758                                Sedan               Sedan

[108 rows x 16 columns]>

In [156]:
## Same
## how many cyclists were killed in Queens?
fil_boro = df_nyc_accidents["BOROUGH"] == "QUEENS"
fil_cyclist = df_nyc_accidents["NUMBER OF CYCLIST KILLED"] 

df_nyc_accidents[fil_boro & fil_cyclist].sum

<bound method NDFrame._add_numeric_operations.<locals>.sum of        CRASH DATE CRASH TIME BOROUGH  NUMBER OF PERSONS INJURED  \
8710      5/24/21       6:45  QUEENS                          0
75266      9/2/20      23:23  QUEENS                          0
108865    11/3/21       8:35  QUEENS                          0
173900    9/27/19      19:44  QUEENS                          0
174291   10/13/19      13:27  QUEENS                          0
177236   10/12/19      23:51  QUEENS                          1
180670    9/21/19      13:54  QUEENS                          0
258506    3/14/19       7:52  QUEENS                          0

        NUMBER OF PERSONS KILLED  NUMBER OF PEDESTRIANS INJURED  \
8710                           1                              0
75266                          1                              0
108865                         1                              0
173900                         1                              0
174291                         1                              0
177236                         1                              0
180670                         1                              0
258506                         1                              0

        NUMBER OF PEDESTRIANS KILLED  NUMBER OF CYCLIST INJURED  \
8710                               0                          0
75266                              0                          0
108865                             0                          0
173900                             0                          0
174291                             0                          0
177236                             0                          1
180670                             0                          0
258506                             0                          0

        NUMBER OF CYCLIST KILLED  NUMBER OF MOTORIST INJURED  \
8710                           1                           0
75266                          1                           0
108865                         1                           0
173900                         1                           0
174291                         1                           0
177236                         1                           0
180670                         1                           0
258506                         1                           0

        NUMBER OF MOTORIST KILLED  \
8710                            0
75266                           0
108865                          0
173900                          0
174291                          0
177236                          0
180670                          0
258506                          0

                            CONTRIBUTING FACTOR VEHICLE 1  \
8710                        Failure to Yield Right-of-Way
75266                         Traffic Control Disregarded
108865                                        Unspecified
173900                      Failure to Yield Right-of-Way
174291  Pedestrian/Bicyclist/Other Pedestrian Error/Co...
177236                                Alcohol Involvement
180670                                        Unspecified
258506                        Traffic Control Disregarded

       CONTRIBUTING FACTOR VEHICLE 2  COLLISION_ID  \
8710                     Unspecified       4420981
75266                    Unspecified       4344340
108865                   Unspecified       4474072
173900                   Unspecified       4214054
174291                   Unspecified       4227325
177236        Other Lighting Defects       4223206
180670                   Unspecified       4210973
258506                   Unspecified       4096754

                        VEHICLE TYPE CODE 1  \
8710                          Pick-up Truck
75266                                   Bus
108865                            Box Truck
173900                                 Bike
174291  Station Wagon/Sport Utility Vehicle
177236                                Sedan
180670                                 Dump
258506                                Sedan

                        VEHICLE TYPE CODE 2
8710                                 E-Bike
75266                                  Bike
108865                                 Bike
173900  Station Wagon/Sport Utility Vehicle
174291                                 Bike
177236                                E-Sco
180670                                 Bike
258506                                 Bike  >

In [134]:
## Filter and subset 
## create a dataset for Manhattan that involved taxi cabs as the primary vehicle cause

fil_man = df_nyc_accidents["BOROUGH"] == "MANHATTAN"
fil_car = df_nyc_accidents["CONTRIBUTING FACTOR VEHICLE 1"] == "TAXI CAB"

df_man = df_nyc_accidents[fil_man & fil_car]
df_man

Empty DataFrame
Columns: [CRASH DATE, CRASH TIME, BOROUGH, NUMBER OF PERSONS INJURED, NUMBER OF PERSONS KILLED, NUMBER OF PEDESTRIANS INJURED, NUMBER OF PEDESTRIANS KILLED, NUMBER OF CYCLIST INJURED, NUMBER OF CYCLIST KILLED, NUMBER OF MOTORIST INJURED, NUMBER OF MOTORIST KILLED, CONTRIBUTING FACTOR VEHICLE 1, CONTRIBUTING FACTOR VEHICLE 2, COLLISION_ID, VEHICLE TYPE CODE 1, VEHICLE TYPE CODE 2]
Index: []

In [105]:
## What were the top 5 causes of accidents across all the boroughs?
## by primary vehicle cause

df_nyc_accidents["CONTRIBUTING FACTOR VEHICLE 1"].value_counts().head(5)

Unspecified                       78494
Driver Inattention/Distraction    70615
Failure to Yield Right-of-Way     20691
Following Too Closely             14407
Backing Unsafely                  13348
Name: CONTRIBUTING FACTOR VEHICLE 1, dtype: int64

In [135]:
## What were the top 5 causes of accidents across all the boroughs?
## by secondary vehicle cause

df_nyc_accidents["CONTRIBUTING FACTOR VEHICLE 2"].value_counts().head(5)

Unspecified                       190456
Driver Inattention/Distraction     14186
Other Vehicular                     3529
Failure to Yield Right-of-Way       2233
Passing or Lane Usage Improper      2171
Name: CONTRIBUTING FACTOR VEHICLE 2, dtype: int64

In [138]:
## What were the 5 RAREST causes for primary vehicles causing the accident

df_nyc_accidents["CONTRIBUTING FACTOR VEHICLE 1"].value_counts().tail()

Shoulders Defective/Improper    13
Texting                          8
Cell Phone (hands-free)          8
Windshield Inadequate            3
Listening/Using Headphones       2
Name: CONTRIBUTING FACTOR VEHICLE 1, dtype: int64

In [139]:
## list ALL the causes as unique values (in other words, create a list of the causes)
## WHAT ARE SOME UNUSUAL REASONS FOR ACCIDENTS?

list(df_nyc_accidents["CONTRIBUTING FACTOR VEHICLE 1"].unique())

['Unspecified',
 'Following Too Closely',
 'Driver Inattention/Distraction',
 'Passing Too Closely',
 'Passing or Lane Usage Improper',
 'Driver Inexperience',
 'Failure to Yield Right-of-Way',
 'Turning Improperly',
 'Unsafe Speed',
 'Backing Unsafely',
 'Steering Failure',
 'Traffic Control Disregarded',
 'Drugs (illegal)',
 'Reaction to Uninvolved Vehicle',
 'View Obstructed/Limited',
 'Pedestrian/Bicyclist/Other Pedestrian Error/Confusion',
 'Alcohol Involvement',
 'Pavement Slippery',
 'Brakes Defective',
 'Oversized Vehicle',
 'Animals Action',
 'Unsafe Lane Changing',
 'Outside Car Distraction',
 'Illnes',
 'Other Vehicular',
 'Aggressive Driving/Road Rage',
 'Fell Asleep',
 'Tire Failure/Inadequate',
 'Pavement Defective',
 nan,
 'Lost Consciousness',
 'Accelerator Defective',
 'Passenger Distraction',
 'Glare',
 'Eating or Drinking',
 'Cell Phone (hands-free)',
 'Lane Marking Improper/Inadequate',
 'Obstruction/Debris',
 'Failure to Keep Right',
 'Using On Board Navigation Device',
 'Fatigued/Drowsy',
 'Physical Disability',
 'Cell Phone (hand-Held)',
 'Headlights Defective',
 'Tinted Windows',
 'Vehicle Vandalism',
 'Driverless/Runaway Vehicle',
 'Prescription Medication',
 'Texting',
 'Traffic Control Device Improper/Non-Working',
 'Tow Hitch Defective',
 'Shoulders Defective/Improper',
 'Windshield Inadequate',
 'Other Lighting Defects',
 'Other Electronic Device',
 'Listening/Using Headphones']

In [143]:
## unusual reasons for accidents 
unusual = ["Shoulders Defective/Improper","Lost Consciousness","Glare", "Animals Action", "Traffic Control Device Improper/Non-Working", "Windshield Inadequate"]
unusual

['Shoulders Defective/Improper',
 'Lost Consciousness',
 'Glare',
 'Animals Action',
 'Traffic Control Device Improper/Non-Working',
 'Windshield Inadequate']