# NYC traffic accidents over a 4 year period 
## Filter and Subset

Download <a href="https://www.dropbox.com/s/585wrgl08djzlyt/accidents-nyc.csv?dl=0">this dataset</a> stored on dropbox.

In [1]:
## import necessary libraries
import pandas as pd

In [48]:
## read the dataset into notebook
df_nyc_accidents = pd.read_csv('accidents-nyc.csv')
df_nyc_accidents

,CRASH DATE,CRASH TIME,BOROUGH,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2
0,4/13/21,21:35,BROOKLYN,1,0,1,0,0,0,0,0,Unspecified,NaN,4407147,Sedan,NaN
1,4/13/21,16:00,BROOKLYN,0,0,0,0,0,0,0,0,Following Too Closely,Unspecified,4407811,Sedan,NaN
2,4/13/21,17:30,QUEENS,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,4408019,Sedan,Sedan
3,4/11/21,21:06,BROOKLYN,1,0,1,0,0,0,0,0,Passing Too Closely,NaN,4406488,Taxi,NaN
4,4/15/21,20:00,STATEN ISLAND,0,0,0,0,0,0,0,0,Unspecified,NaN,4408310,Sedan,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
282868,1/1/19,19:00,BROOKLYN,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,4060606,Ambulance,Sedan
282869,1/1/19,8:00,BRONX,0,0,0,0,0,0,0,0,Steering Failure,Unspecified,4060771,Pick-up Truck,Station Wagon/Sport Utility Vehicle
282870,1/1/19,3:30,BRONX,0,0,0,0,0,0,0,0,Unspecified,Unspecified,4060653,Pick-up Truck,Sedan
282871,1/1/19,19:30,BROOKLYN,0,0,0,0,0,0,0,0,Passing Too Closely,Unspecified,4268108,Tanker,Sedan
282872,1/1/19,12:00,MANHATTAN,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,4060666,Sedan,NaN

In [49]:
## see the overall info about this dataset
df_nyc_accidents.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 282873 entries, 0 to 282872
Data columns (total 16 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   CRASH DATE                     282873 non-null  object
 1   CRASH TIME                     282873 non-null  object
 2   BOROUGH                        282873 non-null  object
 3   NUMBER OF PERSONS INJURED      282873 non-null  int64
 4   NUMBER OF PERSONS KILLED       282873 non-null  int64
 5   NUMBER OF PEDESTRIANS INJURED  282873 non-null  int64
 6   NUMBER OF PEDESTRIANS KILLED   282873 non-null  int64
 7   NUMBER OF CYCLIST INJURED      282873 non-null  int64
 8   NUMBER OF CYCLIST KILLED       282873 non-null  int64
 9   NUMBER OF MOTORIST INJURED     282873 non-null  int64
 10  NUMBER OF MOTORIST KILLED      282873 non-null  int64
 11  CONTRIBUTING FACTOR VEHICLE 1  281489 non-null  object
 12  CONTRIBUTING FACTOR VEHICLE 2  224591 non-null  object
 13  COLLISION_ID                   282873 non-null  int64
 14  VEHICLE TYPE CODE 1            279986 non-null  object
 15  VEHICLE TYPE CODE 2            201168 non-null  object
dtypes: int64(9), object(7)
memory usage: 34.5+ MB

In [63]:
## create a series of crash dates.
## df.column_name/ df['columnName'] also returns the Pandas Series 
df_nyc_accidents["CRASH DATE"]

0         4/13/21
1         4/13/21
2         4/13/21
3         4/11/21
4         4/15/21
           ...
282868     1/1/19
282869     1/1/19
282870     1/1/19
282871     1/1/19
282872     1/1/19
Name: CRASH DATE, Length: 282873, dtype: object

In [164]:
## Which borough had the most crashes?
##boro_sort = df_nyc_accidents.sort_values(by=["BOROUGH","CRASH DATE"], ascending=False)

##df_nyc_accidents["BOROUGH"].head()
## df_nyc_accidents.sort_values(by=["CRASH DATE", "BOROUGH"], ascending=True)

df_nyc_accidents["BOROUGH"].value_counts()

BROOKLYN         95099
QUEENS           80085
BRONX            50123
MANHATTAN        48864
STATEN ISLAND     8702
Name: BOROUGH, dtype: int64

In [170]:
## which type of vehicle was primary vehicle involved in crashes?
## SHOW ONLY THE TOP 7

df_nyc_accidents["VEHICLE TYPE CODE 1"].value_counts().head(7)

##df_vehicle = df_nyc_accidents[df_nyc_accidents["City"] == "Sochi"].sample(20)

Sedan                                  129987
Station Wagon/Sport Utility Vehicle    102850
Taxi                                    10647
Pick-up Truck                            7183
Box Truck                                5504
Bus                                      4697
Bike                                     3177
Name: VEHICLE TYPE CODE 1, dtype: int64

In [171]:
## What were a FIVE unusual primary vehicles to get into a crash?
## df_nyc_accidents["CONTRIBUTING FACTOR VEHICLE 1"].head(6)
df_nyc_accidents["VEHICLE TYPE CODE 1"].value_counts().tail(5)

SLINGSHOT     1
CHEVY EXPR    1
Go kart       1
FDNY Engin    1
MAC T         1
Name: VEHICLE TYPE CODE 1, dtype: int64

In [89]:
## create a subset of data for only Queens
## place it in a dataframe called df_q
df_q = df_nyc_accidents[df_nyc_accidents["BOROUGH"] == "QUEENS"]
df_q

,CRASH DATE,CRASH TIME,BOROUGH,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2
2,4/13/21,17:30,QUEENS,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,4408019,Sedan,Sedan
10,4/14/21,21:43,QUEENS,0,0,0,0,0,0,0,0,Turning Improperly,Unspecified,4407407,Station Wagon/Sport Utility Vehicle,NaN
17,4/15/21,14:30,QUEENS,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Driver Inattention/Distraction,4407616,Sedan,Station Wagon/Sport Utility Vehicle
27,4/16/21,11:00,QUEENS,1,0,0,0,1,0,0,0,Turning Improperly,Unspecified,4407792,Station Wagon/Sport Utility Vehicle,Bike
28,4/16/21,17:00,QUEENS,5,0,0,0,0,0,5,0,Traffic Control Disregarded,Unspecified,4407853,Sedan,Station Wagon/Sport Utility Vehicle
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
282861,1/1/19,11:00,QUEENS,0,0,0,0,0,0,0,0,Unspecified,NaN,4065827,Sedan,NaN
282862,1/1/19,12:30,QUEENS,0,0,0,0,0,0,0,0,Unspecified,NaN,4062343,Sedan,NaN
282863,1/1/19,2:18,QUEENS,0,0,0,0,0,0,0,0,Unspecified,Unspecified,4060413,Sedan,NaN
282864,1/1/19,13:00,QUEENS,0,0,0,0,0,0,0,0,Unspecified,Unspecified,4060511,Sedan,Sedan
282866,1/1/19,10:23,QUEENS,1,0,0,0,0,0,1,0,Failure to Keep Right,Failure to Keep Right,4059208,Station Wagon/Sport Utility Vehicle,Sedan

In [183]:
## CHALLENGE (as in you have to google this)
## How many people were killed in Queens in accidents?
## fil_boro = df_nyc_accidents["BOROUGH"] == "QUEENS"

## fil_killed = df_q["NUMBER OF PERSONS KILLED"] 
##df_q["NUMBER OF PERSONS KILLED"].value_counts()

fil_boro = df_nyc_accidents["BOROUGH"] == "QUEENS"
fil_killed = df_nyc_accidents["NUMBER OF PERSONS KILLED"] 

df_challenge = df_nyc_accidents[fil_boro & fil_killed].sum()
df_challenge

/var/folders/58/h2ln7n610md4wvj7xq94vdg80000gn/T/ipykernel_44348/2791873550.py:11: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df_challenge = df_nyc_accidents[fil_boro & fil_killed].sum()

CRASH DATE                       4/21/215/3/217/18/215/23/215/24/215/28/215/28/...
CRASH TIME                       0:5523:102:3915:216:4513:1520:3919:108:5916:05...
BOROUGH                          QUEENSQUEENSQUEENSQUEENSQUEENSQUEENSQUEENSQUEE...
NUMBER OF PERSONS INJURED                                                       39
NUMBER OF PERSONS KILLED                                                       110
NUMBER OF PEDESTRIANS INJURED                                                    4
NUMBER OF PEDESTRIANS KILLED                                                    57
NUMBER OF CYCLIST INJURED                                                        2
NUMBER OF CYCLIST KILLED                                                         8
NUMBER OF MOTORIST INJURED                                                      33
NUMBER OF MOTORIST KILLED                                                       45
CONTRIBUTING FACTOR VEHICLE 1    Alcohol InvolvementUnsafe SpeedUnspecifiedUnsp...
COLLISION_ID                                                             463619558
dtype: object

In [184]:
## Same
## how many cyclists were killed in Queens?
fil_boro = df_nyc_accidents["BOROUGH"] == "QUEENS"
fil_cyclist = df_nyc_accidents["NUMBER OF CYCLIST KILLED"] 

df_nyc_accidents[fil_boro & fil_cyclist].sum()

CRASH DATE                       5/24/219/2/2011/3/219/27/1910/13/1910/12/199/2...
CRASH TIME                                   6:4523:238:3519:4413:2723:5113:547:52
BOROUGH                           QUEENSQUEENSQUEENSQUEENSQUEENSQUEENSQUEENSQUEENS
NUMBER OF PERSONS INJURED                                                        1
NUMBER OF PERSONS KILLED                                                         8
NUMBER OF PEDESTRIANS INJURED                                                    0
NUMBER OF PEDESTRIANS KILLED                                                     0
NUMBER OF CYCLIST INJURED                                                        1
NUMBER OF CYCLIST KILLED                                                         8
NUMBER OF MOTORIST INJURED                                                       0
NUMBER OF MOTORIST KILLED                                                        0
CONTRIBUTING FACTOR VEHICLE 1    Failure to Yield Right-of-WayTraffic Control D...
CONTRIBUTING FACTOR VEHICLE 2    UnspecifiedUnspecifiedUnspecifiedUnspecifiedUn...
COLLISION_ID                                                              34211705
VEHICLE TYPE CODE 1              Pick-up TruckBusBox TruckBikeStation Wagon/Spo...
VEHICLE TYPE CODE 2              E-BikeBikeBikeStation Wagon/Sport Utility Vehi...
dtype: object

In [201]:
## Filter and subset 
## create a dataset for Manhattan that involved taxi cabs as the primary vehicle cause

##fil_man = df_nyc_accidents["BOROUGH"] == "MANHATTAN"
##fil_car = df_nyc_accidents["CONTRIBUTING FACTOR VEHICLE 1"] == "TAXI"


##df_m = df_nyc_accidents[df_nyc_accidents["BOROUGH"] == "MANHATTAN"
##fil_taxi = df_nyc_accidents["CONTRIBUTING FACTOR VEHICLE 1"] == "TAXI"
                        
df_m = df_nyc_accidents[df_nyc_accidents["BOROUGH"]== "MANHATTAN"]
fil_taxi = df_nyc_accidents["VEHICLE TYPE CODE 1"]== "TAXI"

df_m["VEHICLE TYPE CODE 1"].value_counts()

Sedan                                  18886
Station Wagon/Sport Utility Vehicle    14955
Taxi                                    5421
Box Truck                               1849
Pick-up Truck                           1332
                                       ...
GEN  AMBUL                                 1
E REVEL SC                                 1
cross                                      1
Bucket Tru                                 1
omm                                       1
Name: VEHICLE TYPE CODE 1, Length: 252, dtype: int64

In [105]:
## What were the top 5 causes of accidents across all the boroughs?
## by primary vehicle cause

df_nyc_accidents["CONTRIBUTING FACTOR VEHICLE 1"].value_counts().head(5)

Unspecified                       78494
Driver Inattention/Distraction    70615
Failure to Yield Right-of-Way     20691
Following Too Closely             14407
Backing Unsafely                  13348
Name: CONTRIBUTING FACTOR VEHICLE 1, dtype: int64

In [135]:
## What were the top 5 causes of accidents across all the boroughs?
## by secondary vehicle cause

df_nyc_accidents["CONTRIBUTING FACTOR VEHICLE 2"].value_counts().head(5)

Unspecified                       190456
Driver Inattention/Distraction     14186
Other Vehicular                     3529
Failure to Yield Right-of-Way       2233
Passing or Lane Usage Improper      2171
Name: CONTRIBUTING FACTOR VEHICLE 2, dtype: int64

In [202]:
## What were the 5 RAREST causes for primary vehicles causing the accident

df_nyc_accidents["CONTRIBUTING FACTOR VEHICLE 1"].value_counts().tail(5)

Shoulders Defective/Improper    13
Texting                          8
Cell Phone (hands-free)          8
Windshield Inadequate            3
Listening/Using Headphones       2
Name: CONTRIBUTING FACTOR VEHICLE 1, dtype: int64

In [205]:
## list ALL the causes as unique values (in other words, create a list of the causes)
## WHAT ARE SOME UNUSUAL REASONS FOR ACCIDENTS?

list(df_nyc_accidents["CONTRIBUTING FACTOR VEHICLE 1"and "CONTRIBUTING FACTOR VEHICLE 2"].unique())

[nan,
 'Unspecified',
 'Unsafe Speed',
 'Driver Inattention/Distraction',
 'Failure to Yield Right-of-Way',
 'Turning Improperly',
 'Driver Inexperience',
 'Following Too Closely',
 'View Obstructed/Limited',
 'Oversized Vehicle',
 'Passing Too Closely',
 'Other Vehicular',
 'Traffic Control Disregarded',
 'Passing or Lane Usage Improper',
 'Reaction to Uninvolved Vehicle',
 'Backing Unsafely',
 'Alcohol Involvement',
 'Outside Car Distraction',
 'Pedestrian/Bicyclist/Other Pedestrian Error/Confusion',
 'Obstruction/Debris',
 'Aggressive Driving/Road Rage',
 'Vehicle Vandalism',
 'Pavement Slippery',
 'Unsafe Lane Changing',
 'Passenger Distraction',
 'Fell Asleep',
 'Driverless/Runaway Vehicle',
 'Drugs (illegal)',
 'Fatigued/Drowsy',
 'Brakes Defective',
 'Headlights Defective',
 'Failure to Keep Right',
 'Glare',
 'Other Lighting Defects',
 'Traffic Control Device Improper/Non-Working',
 'Cell Phone (hands-free)',
 'Lane Marking Improper/Inadequate',
 'Pavement Defective',
 'Tinted Windows',
 'Cell Phone (hand-Held)',
 'Listening/Using Headphones',
 'Steering Failure',
 'Tow Hitch Defective',
 'Tire Failure/Inadequate',
 'Illnes',
 'Lost Consciousness',
 'Other Electronic Device',
 'Animals Action',
 'Prescription Medication',
 'Accelerator Defective',
 'Shoulders Defective/Improper',
 'Using On Board Navigation Device',
 'Physical Disability',
 'Eating or Drinking',
 'Texting']

In [224]:
## unusual reasons for accidents 

df_nyc_accidents["CONTRIBUTING FACTOR VEHICLE 1" and "CONTRIBUTING FACTOR VEHICLE 2"].value_counts().tail(5)

Animals Action                  2
Eating or Drinking              2
Prescription Medication         1
Shoulders Defective/Improper    1
Texting                         1
Name: CONTRIBUTING FACTOR VEHICLE 2, dtype: int64